<a href="https://colab.research.google.com/github/Jochabot01/sales-predictions/blob/main/Sales_predictions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd  #importing pandas
#importing dataset
df = pd.read_csv('https://raw.githubusercontent.com/mGalarnyk/Tutorial_Data/master/Pandas/CalIt2.data', header = None)
#reading the dataset
df

       0         1         2  3
0      7  07/24/05  00:00:00  0
1      9  07/24/05  00:00:00  0
2      7  07/24/05  00:30:00  1
3      9  07/24/05  00:30:00  0
4      7  07/24/05  01:00:00  0
...   ..       ...       ... ..
10075  9  11/05/05  22:30:00  0
10076  7  11/05/05  23:00:00  0
10077  9  11/05/05  23:00:00  0
10078  7  11/05/05  23:30:00  1
10079  9  11/05/05  23:30:00  0

[10080 rows x 4 columns]

In [ ]:
df.dtypes #identifying the data types

0     int64
1    object
2    object
3     int64
dtype: object

In [ ]:
df.duplicated() # identifying duplicates

bool_series = df.duplicated(keep='first') #keeping the first row of duplicates

df[~bool_series]

       0         1         2  3
0      7  07/24/05  00:00:00  0
1      9  07/24/05  00:00:00  0
2      7  07/24/05  00:30:00  1
3      9  07/24/05  00:30:00  0
4      7  07/24/05  01:00:00  0
...   ..       ...       ... ..
10075  9  11/05/05  22:30:00  0
10076  7  11/05/05  23:00:00  0
10077  9  11/05/05  23:00:00  0
10078  7  11/05/05  23:30:00  1
10079  9  11/05/05  23:30:00  0

[10080 rows x 4 columns]

In [ ]:
df.isna().sum()

#There are no missing values

0    0
1    0
2    0
3    0
dtype: int64

In [18]:
df.describe() #obtains the summary

                 0             3
count  10080.00000  10080.000000
mean       8.00000      3.812897
std        1.00005      6.435798
min        7.00000      0.000000
25%        7.00000      0.000000
50%        8.00000      0.000000
75%        9.00000      5.000000
max        9.00000     62.000000